// Fonts
$font-family: 'Montserrat', sans-serif;

$font-size-s: .875rem; // 14px
$font-size-m: 1.125rem; // 18px
$font-size-l: 1.3125rem; // 21px
$font-size-xl: 2.25rem; // 36px
$font-size-xxl: 4.6875rem; // 75px
$font-size-xxxl: 8.125rem; // 130px

$font-regular: 400;
$font-bold: 700;
$font-black: 900;

// Colors
$black: #000;
$white: #fff;
$grey: #acacac;
$light-grey: #f4f2ef;
